.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(109, 106, 106);
    background-color: rgb(57, 58, 57);
    

}

.logo {
    width: 100px;
    justify-content: center;
    align-items: center;

}

.nav-item > ul {
    font-size: 20;
    display: flex;
    list-style-type: none;
}

.nav-item > ul > li {
    padding: 10px;
    margin: 10px;
    color: white;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-cart {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 460px;
    background-color: #f0f0f0;

}
.res-cart:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.rest-logo {
    width: 100%;
}

